html, body {
	margin: 0px;
	padding: 0px;
}
.center {
	width: 1100px;
	margin: 0px auto;
	position: relative;
}
.header .text {
	height: 80px;
	width: 100%;
	line-height: 80px;
	color: #48694d;
	position: relative;
	z-index: 10;
	text-align: center;
	font-family: Tahoma;
	font-size: 26px;
}
.header {
	margin-bottom: 40px;
}
.content {
	width: 100%;
	margin-bottom: 190px;
	
}
.scheduler {
	width: 1100px;
	height: 494px;
	margin: 0 auto;
	background-color: #ffffff;
	
}
.footer {
	height: 142px;
	width: 100%;
	background-color: #67846C;
	background-repeat: repeat-x;
	position: fixed;
	bottom: 0px;
	left: 0px;
}
.user-info {
	position: absolute;
	right: 10px;
	top: 37px;
	z-index: 10;
	color: #ffffff;
	font-family: Helvetica;
}
.user-info div {
	float: right;
	margin-left: 10px;
}
.user-info .username {
	font-size: 14px;
}
.user-info div,
.user-info a,
.user-info a:hover {
	font-size: 14px;
	font-family: Helvetica;
	color: #48694D;
}
.user-info .bold {
	font-weight: bold;
}
.logout {
	line-height: 13px;
}
.logout a,
.logout a:hover,
.logout a:visited {
	color: #ABD95D;
}

 

.clear {
	clear: both;
}
.login-form {
	display: block;
	padding: 20px;
	background-color: #e9e9e9;
	border: 1px solid #cecece;
	border-radius: 10px;
	width: 400px;
	height: 244px;
	margin: 0px auto;
}
.login-form input,
.login-form label {
	height: 34px;
	border: 1px solid #CECECE;
	font-size: 20px;
	font-family: Arial;
	padding: 5px 12px;
	margin-bottom: 10px;
	display: block;
	float: left;
}
.login-form input {
	width: 254px;
}
.login-form input[type="submit"] {
	height: 42px;
	width: 280px;
	cursor: pointer;
	background-color: #0080c0;
	color: #ffffff;
}
.login-form input[type="submit"]:hover {

}
.login-form label {
	width:92px;
	line-height: 34px;
	border: none;
}

 

.leftcol {
	float: left;
	width: 250px;
	height: 100%;
}
.rightcol {
	float: left;
	width: 840px;
	height: 100%;
	margin-left: 5px;
}

 

.filter {
	background-color: #0080c0;
color: #ffffff;
	margin-top: 5px;
	font-size: 12px;
	font-family: Arial;
	border-bottom: none;
	font-family: cursive;
	
	
}
.filter .f_header {
	text-align: center;
	line-height: 32px;
}
.filter table {
	padding-top:-40px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 1px solid #cecece;
	
}

.minical .dhx_cal_container.dhx_mini_calendar {
	box-shadow: none;
	background-color: #0080ff;
	color: #ffffff;
	border: 3px solid #ff8040;
	font-family: cursive;
	font-size: 18px;
}
.filter table tr td {
	margin: 0px;
	height: 16px;
	line-height: 16px;
		margin-left: 6px;
		

}
.filter table tr.odd td {
	background-color: #F0EDE7;
	background-color: #0080ff;
	font-family: cursive;
}
.filter table tr td.checkbox {
	padding-top:-40px;
	width: 22px;
	margin-left: 6px;
	border-left: none;
	background-color: #0080ff;
}
.filter table tr td.last {
	border-right: none;
}
.filter table tr td label {
	padding-top:-40px;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 26px;
	cursor: pointer;
	padding: 0px 6px;
}
.right {
	text-align: right;
	margin-bottom: 10px;
	margin-right: 7px;
}

.dhx_cal_date {
	padding-left: 80px;
}

.dhx_cal_container {
	border: 1px solid #CECECE;
}